/* whole document */
*{
    font-family: "League Spartan", sans-serif;
    text-align: center;
    
}

/* Header */
header{
    padding: 1em;
    background-color: #ffe1ef;
}
.nav-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mood-logo{
    display: flex;
    margin-bottom: 0.5rem;

}
.nav{
    font-size: 15px;
    margin-left: 50px;
    margin-bottom: 0.5rem;
    justify-content: center;

}
.nav-link{
    padding: 0 0.5rem;
}
.number{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6);;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 30px;
}
.nav-link.active span.number{
    background-color: #ef93bf;
    color: #ffff;
}
.text-secondary.active{
    color: #ef93bf !important;
}
.text-icon{
    margin: 4px 4px 0 0;
    
}
.fa-2xl{
    color: rgba(255, 255, 255, 0.6);
}
.btn-warning{
    background-color: #eb9240 !important;
    border-color: #eb9240 !important;
}
.fa-cart-shopping{
    color: #ffff;
}
.btn-outline-dark:hover{
    background-color: #eb9240 !important;
    border-color: #eb9240 !important;
    color: #ffff !important;
}
.text-end button{
    height: 34px;
}

/* Cart section */

.the-cart{
    padding: 3rem 1.5rem;
}

.delivery-process{
    background-color: #eb9240;
    border-radius: 12px;
}

.breadcrumb {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.breadcrumb li {
    list-style: none;
    margin: 10px 30px 0 0;
    font-size: 20px;
    text-transform: uppercase;
}
.breadcrumb .right-align {
    margin-left: auto;
}

.item-row{
    padding: 3rem;
}

.item-box{
    border-radius: 12px;
    border: 1px solid #ffe1ef;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-bar li{
    margin: 20px;
}
.delete-btn{
    position: relative;
    height: 34px;
    width: 10%;
    right: -96%;
    top: -10%;
}
.delete-btn:hover{
    background-color: #ffff !important;
    color: #e33437 !important;
}
.wishlist-btn{
    position: relative;
    margin-top: 10px;
    left: 25%;
    width: 50%;
}
.wishlist-btn:hover, .button-hover{
    background-color: #ef93bf !important;
    color: #ffff !important;
    border-color: #ef93bf !important;
}
.image-item{
    margin: 20px 0 0 20px;
}

/* Total Order */
.total-cart {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    
}

.order-table{
    background-color: #ffe1ef;
    border-radius: 10px;
}
.order-table button{
    margin: 20px;
    text-transform: uppercase;
    font-size: 17px;
}
.total-cost{
    text-transform: uppercase;
    font-size: 15px;
}
.btn-primary{
    background-color: #eb9240 !important;
    border-color: #eb9240 !important;
}